.overlay {

    position: fixed;

    overscroll-behavior: contain;

    touch-action: none;

    inset: 0;


    width: 100%;

    height: 100vh;



    background: rgba(0, 0, 0, .78);


    backdrop-filter: blur(18px);



    z-index: 9999;



    display: flex;

    align-items: center;

    justify-content: center;



    padding: 20px;
}





.modal {

    width: 100%;

    max-width: 1400px;

    position: relative;
}






.swiper {


    width: 100%;


    height: 85vh;



    border-radius: 28px;


    overflow: hidden;



    border: 1px solid var(--border);
}







.slide {

    width: 100%;

    height: 100%;
}







.slide img,
.slide video {


    width: 100%;


    height: 100%;



    object-fit: cover;



    border-radius: 28px;
}








.close {


    position: absolute;



    top: -60px;


    right: 0;




    width: 50px;


    height: 50px;



    border-radius: 50%;



    border: 1px solid var(--border);



    background: rgba(255, 255, 255, .08);



    backdrop-filter: blur(12px);



    color: var(--white);



    font-size: 24px;



    cursor: pointer;



    z-index: 20;



    transition: .35s;
}







.close:hover {


    transform:

        rotate(90deg) scale(1.08);



    background: rgba(201, 168, 106, .25);



    border-color: #c9a86a;
}







:global(.swiper-button-next),
:global(.swiper-button-prev) {


    color: #c9a86a;


    transition: .3s;
}







:global(.swiper-button-next:hover),
:global(.swiper-button-prev:hover) {


    transform: scale(1.15);
}







:global(.swiper-pagination-bullet) {


    background: var(--white);


    opacity: .5;
}







:global(.swiper-pagination-bullet-active) {


    background: #c9a86a;

    opacity: 1;
}









@media(max-width:768px) {


    .overlay {

        padding: 12px;
    }




    .swiper {


        height: 65vh;

        border-radius: 22px;
    }






    .slide img,
.slide video {


        border-radius: 22px;
    }






    .close {


        top: -50px;


        width: 42px;


        height: 42px;


        font-size: 20px;
    }
}








@media(max-width:500px) {


    .swiper {


        height: 55vh;
    }






    .slide img,
.slide video {


        object-fit: contain;


        background: var(--black);
    }






    :global(.swiper-button-next),
    :global(.swiper-button-prev) {


        transform: scale(.7);
    }
}